/* Search Box */
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 3px solid #000;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    color: grey;
}

/* Gallery Styling */
.gallery {
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    max-width: 240px;
}

.gallery-thumbnails {
    padding: 20px;
    height: 200px;
    width: 200px;
}

/* Lightbox */
.lb-container {
    max-width: 600px;
    max-height: 375px;
}

.lb-details {
    padding-top: 20px;
}

/* Media Queries */
@media only screen and (min-width: 550px) {
    .gallery{
        max-width: 480px;
    }
}

@media only screen and (max-width: 850px) {
  .lb-nav {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
  }

  .lb-nav:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
    .gallery {
        max-width: 720px;
    }
}

@media only screen and (min-width: 1080px) {
    .gallery {
        max-width: 960px;
    }
}